/* @media (min-width: 992px) {
  .nav-link {
    font-size: 15px;
  }
  .left__title {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .goalLeft__title {
    font-size: 29px;
  }
  .goalLeft__summary {
    font-size: 13px;
    text-align: justify;
  }
  .missionPartLeft__summary {
    text-align: justify;
  }
  #benefit {
    padding: 50px 0 80px;
  }
  .benefit__title {
    font-size: 39px;
  }
  .Item__title {
    font-size: 23px;
  }
  .Item__summary {
    font-size: 14px;
    text-align: justify;
    margin-top: 10px;
  }
  .counter__number {
    font-size: 30px;
  }
  .counter__title {
    font-size: 14px;
  }
  #meet {
    padding: 0px 0 80px;
  }
  .meet__title {
    font-size: 39px;
  }
  .footerLeft__summary {
    font-size: 13px;
    margin-top: 25px !important;
  }
  .footerRight__summary {
    font-size: 13px;
    line-height: 26px;
    text-align: justify;
  }
  .email__location {
    font-size: 15px;
  }
  .copyright {
    font-size: 13px;
  }
  .Wrapper__list {
    font-size: 13px;
  }
} */
